<h1 class="text-center">Modulo 2.2 : Resolucion de ecuaciones</h1>
<form action="/alumnos/modulo2-1-adaptado" method="POST">
<div class="contenedor">
  <div class="card text-center mx-auto" style="width: 50rem; display: {{result01}}"> 
    <div class="card-body">

      <div class="card text-white bg-primary mb-5 mx-auto" style="max-width: 50rem;">
        <div class="card-header">Pregunta</div>
        <div class="card-body">
          <img src="/img/modulo2/{{rest1}}.png" >
        </div>

      </div>
      <div class="form-group">
          <input type="text" name="r10" class="form-control" placeholder="Respuesta" autofocus>
          <input type="hidden" name="p10" value="{{rest1}}">
        </div>



    </div>
  </div>
  <br>
  <div class="card text-center mx-auto" style="width: 50rem; display: {{result01}}"> 
    <div class="card-body">

      <div class="card text-white bg-primary mb-5 mx-auto" style="max-width: 50rem;">
        <div class="card-header">Pregunta</div>
        <div class="card-body">
          <img src="/img/modulo2/{{rest1b}}.png" >
        </div>

      </div>
      <div class="form-group">
          <input type="text" name="r10b" class="form-control" placeholder="Respuesta" autofocus>
          <input type="hidden" name="p10b" value="{{rest1b}}">
        </div>



    </div>
  </div>
  <br>
  <div class="card text-center mx-auto" style="width: 50rem; display: {{result02}}"> 
    <div class="card-body">

      <div class="card text-white bg-primary mb-5 mx-auto" style="max-width: 50rem;">
        <div class="card-header">Pregunta</div>
        <div class="card-body">
          <img src="/img/modulo2/{{rest2}}.png" >
        </div>

      </div>
      <div class="form-group">
          <input type="text" name="r11" class="form-control" placeholder="Respuesta" autofocus>
          <input type="hidden" name="p11" value="{{rest2}}">
        </div>



    </div>
  </div>
  <br>
  <div class="card text-center mx-auto" style="width: 50rem; display: {{result02}}"> 
    <div class="card-body">

      <div class="card text-white bg-primary mb-5 mx-auto" style="max-width: 50rem;">
        <div class="card-header">Pregunta</div>
        <div class="card-body">
          <img src="/img/modulo2/{{rest2b}}.png" >
        </div>

      </div>
      <div class="form-group">
          <input type="text" name="r11b" class="form-control" placeholder="Respuesta" autofocus>
          <input type="hidden" name="p11b" value="{{rest2b}}">
        </div>



    </div>
  </div>
  <br>
  <div class="card text-center mx-auto" style="width: 50rem; display: {{result03}}"> 
    <div class="card-body">

      <div class="card text-white bg-primary mb-5 mx-auto" style="max-width: 50rem;">
        <div class="card-header">Pregunta</div>
        <div class="card-body">
          <img src="/img/modulo2/{{rest3}}.png" >
        </div>

      </div>
      <div class="form-group">
          <input type="text" name="r12" class="form-control" placeholder="Respuesta" autofocus>
          <input type="hidden" name="p12" value="{{rest3}}">
        </div>



    </div>
  </div>
  <br>
  <div class="card text-center mx-auto" style="width: 50rem; display: {{result03}}"> 
    <div class="card-body">

      <div class="card text-white bg-primary mb-5 mx-auto" style="max-width: 50rem;">
        <div class="card-header">Pregunta</div>
        <div class="card-body">
          <img src="/img/modulo2/{{rest3b}}.png" >
        </div>

      </div>
      <div class="form-group">
          <input type="text" name="r12b" class="form-control" placeholder="Respuesta" autofocus>
          <input type="hidden" name="p12b" value="{{rest3b}}">
        </div>



    </div>
  </div>
  
</div>
<div class="col text-center">
    <div class="form-group">
      <button class="btn btn-success btn-block">
        Responder
      </button>
    </div>
</div>
</form>