<div class="container p-4">
    <div class="row">
        {{#each asignaturas}}
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class = "card-title text-uppercase">
                            {{nombre_asignatura}}  
                        </h3>
                        <p style="font-size:14px; color:#db330f">{{timeago ultima_modificacion}}</p>
                        <p class = "m-2">{{promedio}}</p>
                        <p class = "m-2">{{id_profesor}}</p>
                        <a href="/administracion/asignaturas/delete/{{id}}"class ="btn btn-danger">BORAR</a>
                        <a href="/administracion/asignaturas/edit/{{id}}"class ="btn btn-secondary">EDITAR</a>
                    </div>    
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>NO HAY ASIGNATURAS REGISTRADOS</p>
                    <a href="/administracion/asignaturas/add">REGISTRAR</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>