<h1 class="text-center">Modulo 2.1 : Resolucion de ecuaciones</h1>
<form action="/alumnos/modulo2-1-base" method="POST">
<div class="contenedor">
  <div class="card text-center mx-auto" style="width: 50rem;">
    <div class="card-body">

      <div class="card text-white bg-primary mb-5 mx-auto" style="max-width: 50rem;">
        <div class="card-header">Ejercicio 1</div>
        <div class="card-body">
          <img src="/img/modulo2/{{ej1}}.png" >
        </div>

      </div>
      <div class="form-group">
          <input type="text" name="r07" class="form-control" placeholder="Respuesta" autofocus>
          <input type="hidden" name="p07" value="{{ej1}}">
          <input type="hidden" name="restantes1" value="{{restantes1}}">
        </div>



    </div>
  </div>
  <br>
  <div class="card text-center mx-auto" style="width: 50rem;">

  </div>
  <div class="card text-center mx-auto" style="width: 50rem;">
    <div class="card-body">

      <div class="card text-white bg-primary mb-5 mx-auto" style="max-width: 50rem;">
        <div class="card-header">Ejercicio 2</div>
        <div class="card-body">
         <img src="/img/modulo2/{{ej2}}.png" >
        </div>

      </div>
      <div class="form-group">
          <input type="text" name="r08" class="form-control" placeholder="Respuesta" autofocus>
          <input type="hidden" name="p08" value="{{ej2}}">
          <input type="hidden" name="restantes2" value="{{restantes2}}">
        </div>



    </div>
  </div>
  <br>
  <div class="card text-center mx-auto" style="width: 50rem;">

  </div>
  <div class="card text-center mx-auto" style="width: 50rem;">
    <div class="card-body">

      <div class="card text-white bg-primary mb-5 mx-auto" style="max-width: 50rem;">
        <div class="card-header">Ejercicio 3</div>
        <div class="card-body">
          <img src="/img/modulo2/{{ej3}}.png" >
        </div>

      </div>
      <div class="form-group">
          <input type="text" name="r09" class="form-control" placeholder="Respuesta" autofocus>
          <input type="hidden" name="p09" value="{{ej3}}">
          <input type="hidden" name="restantes3" value="{{restantes3}}">
        </div>



    </div>
  </div>
  <div class="card text-center mx-auto" style="width: 50rem;">

  </div>
</div>


<div class="col text-center">
    <div class="form-group">
      <button class="btn btn-success btn-block">
        Guardar
      </button>
    </div>
  </div>
</form>